.mission {
    display: block;
    justify-content: center;
    font-size: 1.23rem;
    margin: 100px;
    padding: 50px;
    font-weight: bolder;
    background-color: rgba(113, 129, 97, 70%);
    box-shadow: .5em .5em 1em black;
    border-radius: 5px;
    border: solid rgba(104, 119, 89, 70%) 3.5px;
    
}



