/* .header{
    background-color: ;
    
    } */
    /* .header:hover{
        mask-image: linear-gradient(rgb(209, 103, 103), transparent);
    
    } */
    
    b{
        font-family: 'Saira Stencil One';
        font-weight: lighter;
        color:#718161;
        transition: 0.6s ease;
      }
    
    .navItem,.logOut{
        width: 100%;
        top: 0;
        font-size: 1.5rem;
    }
    
    .title{
        transition: 0.6s ease;
        font-size: 4rem;
    }
    
    .title:hover{
        
        transition: 0.6s ease;
        text-shadow: black 50px;
        
    }
    
    /* .title::{
        text-shadow: #FC0 1px 0 10px;
    } */
    
    .bar {
        /* position: absolute; */
        width: 100%;
        background-color: black;
        /* align-items: center; */
        transition: 0.6s ease; 
        box-shadow:0em 2.5px 1em black;
    
        
    
    }
    
    .navItem:hover{
        text-decoration: underline;
    
    }
    
    .navItem b:hover{
    color: 314131;
    }