.logWrap, .signUpCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-size: 2rem;
}

.logInput  div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logWrap div {
    width: 100px;
    height: 100px;
  }
    .header:hover{
        mask-image: linear-gradient(rgb(209, 103, 103), transparent);
    
    }
    
    b{
        font-family: 'Saira Stencil One';
        font-weight: lighter;
        color:#718161;
        transition: 0.6s ease;
        text-shadow: 1px 1px 2px #202020, 0 0 .5em #202020, 0 0 0.2em #202020;
      }
    
    .navItem,.logOut{
        width: 100%;
        top: 0;
        font-size: 1.5rem;
    }



    input{
        min-height: 40px;
        padding-top: 20px;

        transition: 0.6s ease;
    
        max-width: 150px;
        margin-right: 20px;
        color: #718161;
        border: solid #1b1b1b 3.5px;
        text-align: center;
        text-align-last: center;
        -moz-text-align-last: center;
        font-family: "Courier New";
        font-weight: bolder;
        box-shadow:.20em .15em .950em .1em  black;
    }
    
    .title{
        transition: 0.6s ease;
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px 2px #202020, 0 0 .5em #202020, 0 0 0.2em #202020;
    }
    
    .title:hover{
        
        transition: 0.6s ease;
        text-shadow: black 50px;
        
    }
    
    .loginForm{
        text-align: center;
    }
    
    .signUpButton{
        width: 150px;
        height:43px;
        font-size: 1.5rem;


    }
    
    .bar {
        /* position: absolute; */
        width: 100%;
        background-color: black;
        /* align-items: center; */
        transition: 0.6s ease; 
        box-shadow:0em 2.5px 1em black;
    
        
    
    }
    
    .navItem:hover{
        text-decoration: underline;
    
    }
    
    .navItem b:hover{
    color: 314131;
    }