#stateSearch {
    display: flex;
    justify-content: center;
}

.parkCard {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.singleCard {
    min-width: 350px;
    max-width: 350px;
    flex-shrink: 0;
    mask-image:inherit;
    background-color: #718161;
    box-shadow: .5em .5em 1em black;
    border-radius: 5px;
    border: solid #687759 3.5px;
}

.singleCard:hover{
    background-color: #202020;
    border: solid #1b1b1b 3.5px;
}

.parkImg{
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
}


.cardTitle {
    display: flex;
    justify-content: center;
    padding: 5px
}

.info {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}