* {
  box-sizing: border-box
}

body {
margin:0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


html{
background-color: #314131;
font-family: "Courier New";
margin:0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


.sc-gtsrHT{
/* background-color: #718161; */
box-shadow:-1em 2.5px 1em black;

}


.mySlides {display: none}
img {vertical-align: middle;}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

a:hover{
  color: #E0A100;
  text-shadow:#E0A100;
  }

a {
  text-decoration: none;
  color:#202020;
  cursor: pointer;
  /* position: absolute; */
  /* top: 50%; */
  /* width: auto; */
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  text-align: center
  /* user-select: none; */
}



.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot:hover,.dot:active {
  background-color: #bbb;
}

.slideshow-container{
  display: flex;
  border-width: 1px;
  border-color: #ccc;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  flex-direction: column;
  border-style: solid;
  position: absolute;
  box-shadow: 3px 3px 30px 1px #000;
  left: 193px;
  right: 193px;
  margin: auto;
}
