* {
  box-sizing: border-box
}

body {
margin:0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html{
background-color: #314131;
font-family: "Courier New";
margin:0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


a:hover{
color: #202020;
}


.mySlides {display: none}
img {vertical-align: middle;}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

a {
  text-decoration: none;
  color:#E0A100;
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

b{
  font-family: 'Saira Stencil One';
  
}

.text {
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover,.dot:active {
  background-color: #bbb;
}

.slideshow-container{
  display: flex;
  border-width: 1px;
  border-color: #ccc;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  flex-direction: column;
  border-style: solid;
  position: absolute;
  box-shadow: 3px 3px 30px 1px #000;
  left: 193px;
  right: 193px;
  margin: auto;
}

.prev{
  margin: 2%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4.5rem;
  color:white
}

.next{
  margin: 2%;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4.5rem;
  color:white

}

.git{
  margin: 2%;
  font-size: 4.5rem;
  color:white
}

.dep{
position: absolute;  
margin: 2%;
  font-size: 4.5rem;
  color:white;
  right:0
}
