@font-face {
font-family: 'Saira Stencil One', cursive;
src: url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap') 
format("truetype");
}


.Test{
  display: flexbox;
  justify-content: center;
  align-content: center;
  background-image: ;
  mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);

}