.card {
    padding: 10px;
    font-family: 'Saira Stencil One';
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    font-weight: bolder;
    background-color: rgba(113, 129, 97, 70%);
    box-shadow: .5em .5em 1em black;
    border-radius: 5px;
    border: solid rgba(104, 119, 89, 70%) 3.5px;
}


.postButton{
    display: flex;
    justify-content: center;
    font-family: 'Saira Stencil One';

}

textarea{
    
    font-family: "Courier New";
    min-width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h4{
    margin: 0px;
}

button b{
color:black;
}

button:hover{

}